<div class="panel panel-primary">
  <div class="panel-heading">Links</div>
  <table class="table table-striped">
    <tbody>
    <tr ng-repeat="(postId, post) in posts">
      <td>
        <a ng-href="{{post.url}}" class="btn btn-default">{{post.title | uppercase}}</a>
      </td>
      <td>
        <a ng-click="deletePost(post)" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-trash"> Remove</span></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Add New Post</div>
  <div class="panel-body">
    <form class="form-horizontal" ng-submit="addPost()">
      <input class="form-control" type="text" ng-model="post.title" placeholder="Title"/><br/>
      <input class="form-control" type="url" ng-model="post.url" placeholder="Link"/><br/>
      <button class="btn btn-primary pull-left" type="submit"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
      <br/>
      <!--
      <p class="text-muted">Posts: <span class="badge">{{posts}}</span></p>
      <p class="text-muted">Post: <span class="badge">{{post}}</span></p>-->
    </form>
  </div>
</div>
